// border-raduis

$br-medium: 15px;
$br-small: 10px;

//box-shadow

$bs-default: 4px 4px 4px rgba(0, 0, 0, 0.25);

// padding

$pd-normal: 30px;
$pd-meduim: 20px;
$pd-small: 10px;

//transition

$tr-standart: all 500ms ease;

// MD
$media-sm: 425;
$media-md: 768;
$media-lg: 1280;
$media-nm: 1180;
